{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <div class="m-3 d-flex justify-content-between align-items-start">
        <div class="d-flex justify-content-between align-items-start">
            <div>
                <a href="{{ path('app_action_index') }}"><img src="{{ asset('images/arrow_back.png') }}" alt="Back"></a>
            </div>
            <div>
                <h1 class="mb-3 ms-2">{{ action.libelle }}</h1>
                {% if is_granted('ROLE_BENEVOLE') %}
                    <div class="ms-2">
                    {% if userParticipe is same as 2 %}
                        Participation: En attente
                    {% elseif userParticipe is same as 1 %}
                        Participation: Accepté
                    {% elseif userParticipe is same as 0 %}
                        Participation: Refusé
                    {% else %}

                    {% endif %}
                {% endif %}
                    </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            {% if is_granted('ROLE_ACTION_ADMIN') %}
                <div>
                    <a href="{{ path('app_action_edit', {'id': action.id}) }}"><img src="{{ asset('images/edit.png') }}" alt="Edit" style="width: 30px"></a>
                </div>

                <div>
                    {{ include('action/_delete_form.html.twig') }}
                </div>
            {% endif %}

            {% if isResponsible or is_granted('ROLE_ACTION_ADMIN') %}
                <a href="{{ path('app_action_participants', {'id': action.id}) }}"><button type="button" class="btn btn-primary">Gérer les participants</button></a>
                <a href="{{ path('app_action_ressources', {'id': action.id}) }}"><button type="button" class="btn btn-primary">Gérer les ressources</button></a>
            {% endif %}
            {% if is_granted('ROLE_BENEVOLE') %}
                {% if userParticipe is same as 2 %}
                    <a href="{{ path('app_userAction_remove', {'id': action.id}) }}"><button type="button" class="btn btn-danger">Se retirer</button></a>
                {% elseif userParticipe is same as 1 %}
                    <a href="{{ path('app_userAction_remove', {'id': action.id}) }}"><button type="button" class="btn btn-danger">Se retirer</button></a>
                {% elseif userParticipe is same as 0 %}

                {% else %}
                    <a href="{{ path('app_userAction_add', {'id': action.id}) }}"><button type="button" class="btn btn-primary">Participer</button></a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="container d-flex justify-content-between align-items-start mb-5 mt-5">
        <div style="width: 48%">
            {% if action.image %}
                <img src="{{ asset( 'uploads/imageAction/' ~ action.image) }}" alt="Default" style="width: 100%" class="rounded">
            {% else %}
                <img src="{{ asset( 'images/default-image.jpg') }}" alt="Default" style="width: 100%" class="rounded">
            {% endif %}
        </div>

        <div style="width: 48%">
            <div class="p-3 mb-3 border rounded">
                <p class="fw-bold">Description</p>
                <p class="mb-0">{{ action.description }}</p>
            </div>

            <div>
                <p class="mb-0"><span class="fw-bold">Lieu:</span> {{ action.location }}</p>
                <p class="mb-0"><span class="fw-bold">Catégorie:</span> {{ action.type }}</p>
                <p class="mb-0"><span class="fw-bold">Responsable:</span> {{ action.responsible }}</p>
                <p class="mb-0"><span class="fw-bold">Date:</span> {{ action.date ? action.date|date('d-m-Y à H:i:s') : '' }}</p>
                <p class="mb-0"><span class="fw-bold">Nombre d'inscrit:</span> {{ action.nbInscrit }} / {{ action.maxUser }}</p>
            </div>
        </div>
    </div>

    {% if userParticipe or is_granted('ROLE_ACTION_ADMIN') %}
        <div class="justify-content-start align-items-center m-3 ms-5">
            <h2>Ressources</h2>
            <a href="{{ path('app_ressource_add', {'id': action.id}) }}" class="mx-3">
                <button type="button" class="btn btn-primary">Proposer</button>
            </a>
            <div class="container text-center">
                <div class="row row-cols-lg-4 row-cols-sm-2 mx-3">
                    {% for ressource in action.ressources %}
                        {% include './components/show_ressource.html.twig' with {'ressource': ressource} %}
                    {% else %}
                        <p>Aucune ressource</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
