<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/logo.png') }}" alt="Logo" style="width: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/action">Evenements</a>
                <a class="nav-link" href="/about-us">A propos</a>
                {% if is_granted('ROLE_MANAGER') %}
                    <a class="nav-link" href="/admin/user">Utilisateurs</a>
                {% endif %}
            </div>
        </div>
        {% if is_granted('ROLE_BENEVOLE') %}
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('images/account.png') }}" alt="Profil" style="width: 40px">
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('app_profil_index') }}">Mon profil</a>
                    <a class="dropdown-item" href="{{ path('app_profil_actions') }}">Mes évenements</a>
                    <a class="dropdown-item" href="{{ path('app_profil_password') }}">Changer de mot de passe</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
                </div>
            </div>
        {% else %}
            {% if not app.user %}
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('images/account.png') }}" alt="Profil" style="width: 40px">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('app_register') }}">S'inscrire</a>
                        <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                    </div>
                </div>
            {% else %}
                <p class="m-0 text-danger">Compte en attente de validation</p>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('images/account.png') }}" alt="Profil" style="width: 40px">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</nav>