<div class="px-2 mb-3">
    <div class="card col" style="height: 100%">
        <div class="card-body">
            <h5 class="card-title">{{ action.libelle }}</h5>
            <p class="card-text" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ action.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Le {{ action.date ? action.date|date('d-m-Y à H:i:s') : '' }}</li>
            <li class="list-group-item">Localisation: {{ action.location }}</li>
            <li class="list-group-item">Nombre d'inscrit: {{ action.nbInscrit }} / {{ action.maxUser }}</li>
            {% if action.status is defined and action.status is not same as 3 %}
            <li class="list-group-item">
                Statut:
                {% if action.status is same as 2 %}
                    En attente
                {% elseif action.status is same as 1 %}
                    Validé
                {% else %}
                    Refusé
                {% endif %}
            </li>
            {% endif %}
        </ul>
        <div class="card-body">
            <div>
                <a href="{{ path('app_action_show', {'id': action.id}) }}">
                    <button type="button" class="btn btn-outline-info">Voir</button>
                </a>
            </div>
        </div>
    </div>
</div>