<div class="px-2 mb-3">
    <a href="{{ path('app_action_show', {'id': action.id}) }}" style="color: black; text-decoration: none">
        <div class="card col">
            <div class="card-header">
                <h5 class="card-title m-0">{{ action.libelle }}</h5>
            </div>
            {% if not action.image %}
                <img class="card-img-top" src="{{ asset( 'images/default-image.jpg') }}" alt="Card image cap" style="height: 180px">
            {% else %}
                <img class="card-img-top" src="{{ asset( 'uploads/imageAction/' ~ action.image) }}" alt="Card image cap" style="height: 180px">
            {% endif %}
            <div class="card-body d-flex justify-content-around" style="height: 40px; padding-top: 6px">
                <p>{{ action.date ? action.date|date('d/m/Y') : '' }}</p>
                {% if action.status is defined and action.status is not same as 3 %}
                    <p>
                        {% if action.status is same as 2 %}
                            En attente
                        {% elseif action.status is same as 1 %}
                            Je participe
                        {% else %}
                            Refusé
                        {% endif %}
                    </p>
                {% endif %}
                <p>{{ action.location }}</p>
            </div>
        </div>
    </a>
</div>